@font-face {
  font-family: SourceCodePro-regular;
  src: url("assets/fonts/SourceSansPro-Regular.ttf");
}

html {
  position: relative;
}

*::selection {
  color: #000000;
  background-color: #ffffff;
  outline: none;
}

html, body, body > div {
  min-height: 100vh;
}

body {
  font-family: SourceCodePro-regular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191A19;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
